{% extends "layout.html.twig" %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/contact.css"/>
{% endblock %}


{% block content %}
	<h1 class="fw-bold text-center mt-2 {# fddf #} d-flex justify-content-start p-5 {# grgreg #}">Réservation</h1>

	<div class="container mt-2">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-6 ">
			<ul class="text-center mt-2	">
				{% for error in errors %}
					<li class="alert alert-danger">
						{{ error }}</li>
				{% endfor %}
			</ul>
</div>
		</div>
	</div>
	<div class="container b-5">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-6 ">
				{% if message == 'success' %}
					<div class="alert alert-success text-center" role="alert">Votre message est bien envoyé.</div>
				{% endif %}

				<div id="d1">
					<section class="container tardis">

						<div class="contenu">
							<form class="form" action="/thank" method="post" enctype="multipart/form-data" novalidate>


								<div class="mt-2">
									<label for="lastname" class="form-label">Nom :</label>
									<input type="text" class="form-control form-control-lg" name="lastname" id="lastname" placeholder="Gregory" value="{{contact.lastname ?? ''}}" required>
								</div>

								<div class="mt-2">
									<label for="firstname" class="form-label">Prénom :</label>
									<input type="text" class="form-control form-control-lg" name="firstname" id="firstname" placeholder="Silvestri" value="{{contact.firstname ?? '' }}" required>
								</div>

								<div class="mt-2">
									<label for="manyPeople" class="form-label">Nombre de personne :</label>
									<input type="number" class="form-control form-control-lg" name="manyPeople" id="manyPeople" placeholder="1" value="{{contact.personne ?? '' }}" required>
								</div>

								<div class="mt-2">
									<label class="form-label" for="email">Adresse e-mail :</label>
									<input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="gregorinoo@hotmail.fr" value="{{contact.email ?? ''}}" required>
								</div>


								<div class="mt-2">
									<button id="togg1" class="btn btn-dark" type="submit">Envoyer</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</section>
		{% include "_footer.html.twig" %}
		{% block javascript %}
			<script src="/assets/js/tardis.js"></script>
		{% endblock %}
	{% endblock %}
